.headingDetails{
    background-color:darkred;
}


.RoyalPalaceImage {
    width: 300px;
    padding: 2px;
    height: 200px;
}
.homepageImage {
    width: 1264px;
}
.sideInnerLayoutImage{
    height:200px;
    width: 200px;
}

.mainCard {
    background: white;
    padding: 3px 2px;
    box-shadow: 1px 5px 10px #222;
    margin-bottom: 50px;
    border: solid 1px #ff6a00;
}

.layoutBody{
    background-color:gainsboro ;
}

.datepicker {
    z-index: 99999 !important;
}





