@model PersonalProfile

@{
    Layout = "_InnerLayout";

}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Personal details
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <form asp-action="CreateProfile" asp-controller="Home">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="Name" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Name" class="form-control form-control-sm" type="text" placeholder="Title" aria-label=".form-control-sm example">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="FirstName" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="FirstName" class="form-control form-control-sm" type="text" placeholder="First Name" aria-label=".form-control-sm example">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="LastName" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="LastName" class="form-control form-control-sm" type="text" placeholder="Last Name" aria-label=".form-control-sm example">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="Sex" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Sex" class="form-control form-control-sm" type="text" placeholder="Sex" aria-label=".form-control-sm example">
                                <span asp-validation-for="Sex" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="DateOfBirth" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="DateOfBirth" class="form-control form-control-sm" data-toggle="datepicker" type="text" placeholder="Date Of Birth" aria-label=".form-control-sm example">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="Occupation" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9  ">
                                <input asp-for="Occupation" class="form-control form-control-sm" type="text" placeholder="Occupation" aria-label=".form-control-sm example">
                                <span asp-validation-for="Occupation" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="Phone" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Phone" class="form-control form-control-sm" type="text" placeholder="Phone" aria-label=".form-control-sm example">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="Email" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control form-control-sm" type="text" placeholder="Phone" aria-label=".form-control-sm example">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="AddressLine1" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="AddressLine1" class="form-control form-control-sm" type="text" placeholder="Phone" aria-label=".form-control-sm example">
                                <span asp-validation-for="AddressLine1" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="AddressLine2" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="AddressLine2" class="form-control form-control-sm" type="text" placeholder="Phone" aria-label=".form-control-sm example">
                                <span asp-validation-for="AddressLine2" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="City" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="City" class="form-control form-control-sm" type="text" placeholder="Phone" aria-label=".form-control-sm example">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label asp-for="State" class="col-form-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="State" class="form-control form-control-sm" type="text" placeholder="Phone" aria-label=".form-control-sm example">
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-secondary float-end" />
                    </div>
                        
                    </form>

                </blockquote>
            </div>
        </div>
    </div>


@section script {
<script>
    $.noConflict();
        jQuery(function () {
            $('[data-toggle="datepicker"]').datepicker({
                autoclose: true,
            });
        });
</script>
}

