
<div class="card shadow-lg">
    <h5 class="card-header">
        <img src="~/StaticImages/IMG_20220807_191312.jpg" alt="Image" height="100px" width="230px"/>
    </h5>
    <div class="card-body">
        <p>This is side content of the inner layout page</p>
    </div>
</div>