@model IEnumerable<ReservationSyste.ViewModels.VendorModel>
<div>
    <table class="table">
        <thead>
            <tr>
                
            </tr>
        </thead>
        <tbody>
            @foreach(var vendor in Model)
            {
                <tr>
                    <td>@vendor.regionId</td>
                    <td>@vendor.regionCode</td>
                    <td>@vendor.regionName</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>