@model ReservationModel

<div class=" col-sm-12 pb-1 mb-4 mt-3 " style="box-shadow: 1px 1px 10px 2px">
    <form mothod="get" asp-action="Index">
        <div class="input-group">
            <input class=" form-control" asp-for="@Model.SearchTerm" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Search</button>
            </div>
        </div>
    </form>
</div>

@foreach (var reservation in Model.Reservations)
{
    <partial name="_RoomCard" , model="reservation" />
}


<!-- Modal -->
<div class="modal fade" id="modal" role="dialog" aria-labelledby="modalLabel" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="height: 400px;" id="modalbody">
            </div>
        </div>
    </div>
</div>




@section script {

    <script>
        $.noConflict();
        function funCheckInOut(reservationId, imageUrl) {
            var sessionValue = reservationId + "!!!" + imageUrl;
            var url = "Home/CheckInOut?SessionValue=" + sessionValue;
            jQuery("#modalbody").load(url, function () {
                jQuery("#modal").modal("show")
            })
        }

        //$.noConflict();
        //function funCheckInOut(reservationId, imageUrl) {
        //    var sessionValue = reservationId + "!!!" + imageUrl;
        //    console.log(sessionValue);
        //    jQuery.ajax({
        //        url: "Home/CheckInOut",
        //        data: { SessionValue: sessionValue },
        //        successs: function (response) {
        //            jQuery("#myModalBody").html(response);
        //            jQuery("#myModal").modal("show");
        //        }
        //    })
        //}




        jQuery(function () {
            jQuery('[data-toggle="datepicker"]').datepicker({
                autoHide: true,
                zIndex: 2048,
            });
        });

    </script>


}


