@model ReservationSyste.Models.CheckInOut

<div class="col-md-12">
    <div class="card border-secondary mb-12">
        <div class="card-header">Your booking details</div>
        <div class="card-body text-secondary">
            <h4 class="card-title">Chech In: </h4>
            <p class="card-text"></p>

            <h4 class="card-title">Chech Out: </h4>
            <p class="card-text"></p>

            <h4 class="card-title">Total length of stay: </h4>
            <p class="card-text"></p>
            <a href="#" style="width:auto"> Change date</a>

            <hr />
            <h4 class="card-title">Room type: </h4>
            <p class="card-text"></p>
            <a href="#" style="width:auto"> Change your selection</a>
        </div>

    </div>
</div>
